/**
 * Avatar component
 */

.avatar {
    height: 60px;
    overflow: hidden;
    width: 60px;

    &.avatar__bg--image {
        background: no-repeat center center;
        background-size: cover;

        img {
            display: none;
        }
    }

    img {
        width: 100%;
    }

    &.avatar__size--small {
        height: 40px;
        width: 40px;
    }

    &.avatar__size--normal {
        height: 60px;
        width: 60px;
    }

    &.avatar__size--medium {
        height: 80px;
        width: 80px;
    }

    &.avatar__size--big {
        height: 100px;
        width: 100px;
    }

    &.avatar__size--mega {
        height: 140px;
        width: 140px;
    }
}

@media only screen and (min-width: $wrap__md) {
    .avatar {
        height: 70px;
        width: 70px;

        &.avatar__size--small {
            height: 50px;
            width: 50px;
        }
    
        &.avatar__size--normal {
            height: 70px;
            width: 70px;
        }
    
        &.avatar__size--medium {
            height: 90px;
            width: 90px;
        }
    
        &.avatar__size--big {
            height: 110px;
            width: 110px;
        }
    
        &.avatar__size--mega {
            height: 150px;
            width: 150px;
        }
    }
}