/**
 * Footer
 */

#footer{

    .brand .logo{
        width: 160px;
    }

    a{
        color: $color__titles;
    }

    .menu-footer{
        padding: 0;
        font-size: .875rem;

        &>ul>li>a{
            font-weight: 700;
            font-size: 1rem;
        }

        ul{
            display: flex;
            justify-content: space-between;
            list-style: none;
            margin: 10px 0 0;
            padding: 0;
        }

        a{
            color: $color__titles;
            font-weight: 500;
        }

        ul.sub-menu{
            padding: 0;
            display: block;

            li{
                display: block;
            }

            li+li{
                margin-top: 15px;
            }
        }
    }

    .lang-selector {
        .trp-language-switcher {
            margin: 0;

            > div {
                background: transparent;
                padding: 0;
                margin: 0;
                border: 0;
            }

            .trp-ls-shortcode-current-language {
                display: none;
            }

            .trp-ls-shortcode-language {
                visibility: visible;
                height: auto;
                overflow: inherit;
                width: auto !important;
                display: block !important;

                a {
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                    color: $color__titles;
                    text-transform: uppercase;

                    img {
                        margin: 0 5px 0 0;
                        display: inline-block;
                    }

                    &.trp-ls-disabled-language {
                        display: none;
                    }

                    &:hover {
                        background: transparent;
                    }
                }
            }

            &:hover {
                .trp-ls-shortcode-language {
                    position: relative;
                }
            }
        }
    }

}
