/**
 * Form components
 */

/* Inputs */

.input {
  border-color: transparent;
  border-style: solid;
  border-width: $border__width;

  &.input__size--small {
    padding: 4px 8px;
  }

  &.input__size--normal {
    padding: 8px 12px;
  }

  &.input__size--medium {
    padding: 12px 18px;
  }

  &.input__size--big {
    padding: 14px 24px;
  }

  &.input__size--mega {
    padding: 20px 32px;
  }

  &.input__width--full {
    display: block;
    width: 100%;
  }
}

/* Textarea */

.textarea {
  border-color: transparent;
  border-style: solid;
  border-width: $border__width;

  &.textarea__size--small {
    padding: 4px 8px;
  }

  &.textarea__size--normal {
    padding: 8px 12px;
  }

  &.textarea__size--medium {
    padding: 12px 18px;
  }

  &.textarea__size--big {
    padding: 14px 24px;
  }

  &.textarea__size--mega {
    padding: 20px 32px;
  }

  &.textarea__width--full {
    display: block;
    width: 100%;
  }
}

/* Selects */
.select {
  border-color: transparent;
  border-style: solid;
  border-width: $border__width;
  display: inline-block;
  position: relative;

  select {
    background: transparent;
    color: inherit;
    border: none;
    padding-right: 24px;
  }

  &::after {
    align-items: center;
    content: '\25be';
    display: flex;
    font-family: sans-serif;
    height: 100%;
    justify-items: center;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    z-index: 10;
  }

  &.select__size--small {
    select {
      padding: 4px 8px;
      padding-right: 20px;
    }

    &::after {
      width: 18px;
    }
  }

  &.select__size--normal {
    select {
      padding: 8px 12px;
      padding-right: 24px;
    }

    &::after {
      width: 22px;
    }
  }

  &.select__size--medium {
    select {
      padding: 12px 18px;
      padding-right: 28px;
    }

    &::after {
      width: 26px;
    }
  }

  &.select__size--big {
    select {
      padding: 14px 24px;
      padding-right: 32px;
    }

    &::after {
      width: 30px;
    }
  }

  &.select__size--mega {
    select {
      padding: 20px 32px;
      padding-right: 36px;
    }

    &::after {
      width: 34px;
    }
  }

  &.select__width--full {
    display: block;
    width: 100%;

    select {
      width: 100%;
    }
  }
}

/* Radio */
.radio-btn {
  border-color: transparent;
  border-style: solid;
  border-width: $border__width;
  overflow: hidden;
  position: relative;

  input[type="radio"] {
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    height: 100%;
    width: 100%;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
  }

  &.radio__size--small {
    padding: 4px 8px;
  }

  &.radio__size--normal {
    padding: 8px 12px;
  }

  &.radio__size--medium {
    padding: 12px 18px;
  }

  &.radio__size--big {
    padding: 14px 24px;
  }

  &.radio__size--mega {
    padding: 20px 32px;
  }

  /* */

  &.background-color__main--focus {
    input[type="radio"]:checked {
      background-color: $color__main;
    }
  }

  &.background-color__secondary--focus {
    input[type="radio"]:checked {
      background-color: $color__secondary;
    }
  }

  &.background-color__utilitary--focus {
    input[type="radio"]:checked {
      background-color: $color__utilitary;
    }
  }

  &.background-color__titles--focus {
    input[type="radio"]:checked {
      background-color: $color__titles;
    }
  }

  &.background-color__text--focus {
    input[type="radio"]:checked {
      background-color: $color__text;
    }
  }

  &.background-color__link--focus {
    input[type="radio"]:checked {
      background-color: $color__link;
    }
  }

  &.background-color__grey--focus {
    input[type="radio"]:checked {
      background-color: $color__grey;
    }
  }

  &.background-color__grey--regent--focus {
    input[type="radio"]:checked {
      background-color: $color__grey--regent;
    }
  }

  &.background-color__green--focus {
    input[type="radio"]:checked {
      background-color: $color__green;
    }
  }

  &.background-color__red--focus {
    input[type="radio"]:checked {
      background-color: $color__red;
    }
  }

  &.background-color__yellow--focus {
    input[type="radio"]:checked {
      background-color: $color__yellow;
    }
  }

  &.background-color__blue--focus {
    input[type="radio"]:checked {
      background-color: $color__blue;
    }
  }

  &.background-color__orange--focus {
    input[type="radio"]:checked {
      background-color: $color__orange;
    }
  }

  &.background-color__pink--focus {
    input[type="radio"]:checked {
      background-color: $color__pink;
    }
  }

  &.background-color__aqua--focus {
    input[type="radio"]:checked {
      background-color: $color__aqua;
    }
  }

  &.background-color__white--focus {
    input[type="radio"]:checked {
      background-color: $color__white;
    }
  }

  &.background-color__black--focus {
    input[type="radio"]:checked {
      background-color: $color__black;
    }
  }

  &.background-color__transparent--focus {
    input[type="radio"]:checked {
      background-color: transparent;
    }
  }

  /* */

  &.text-color__main--focus {
    input[type="radio"]:checked + label {
      color: $color__main;
    }
  }

  &.text-color__secondary--focus {
    input[type="radio"]:checked + label {
      color: $color__secondary;
    }
  }

  &.text-color__utilitary--focus {
    input[type="radio"]:checked + label {
      color: $color__utilitary;
    }
  }

  &.text-color__titles--focus {
    input[type="radio"]:checked + label {
      color: $color__titles;
    }
  }

  &.text-color__text--focus {
    input[type="radio"]:checked + label {
      color: $color__text;
    }
  }

  &.text-color__link--focus {
    input[type="radio"]:checked + label {
      color: $color__link;
    }
  }

  &.text-color__grey--focus {
    input[type="radio"]:checked + label {
      color: $color__grey;
    }
  }

  &.text-color__grey--regent--focus {
    input[type="radio"]:checked + label {
      color: $color__grey--regent;
    }
  }

  &.text-color__green--focus {
    input[type="radio"]:checked + label {
      color: $color__green;
    }
  }

  &.text-color__red--focus {
    input[type="radio"]:checked + label {
      color: $color__red;
    }
  }

  &.text-color__yellow--focus {
    input[type="radio"]:checked + label {
      color: $color__yellow;
    }
  }

  &.text-color__blue--focus {
    input[type="radio"]:checked + label {
      color: $color__blue;
    }
  }

  &.text-color__orange--focus {
    input[type="radio"]:checked + label {
      color: $color__orange;
    }
  }

  &.text-color__pink--focus {
    input[type="radio"]:checked + label {
      color: $color__pink;
    }
  }

  &.text-color__aqua--focus {
    input[type="radio"]:checked + label {
      color: $color__aqua;
    }
  }

  &.text-color__white--focus {
    input[type="radio"]:checked + label {
      color: $color__white;
    }
  }

  &.text-color__black--focus {
    input[type="radio"]:checked + label {
      color: $color__black;
    }
  }

  &.text-color__transparent--focus {
    input[type="radio"]:checked + label {
      color: transparent;
    }
  }
}

/* Checkbox */
.checkbox-btn {
  border-color: transparent;
  border-style: solid;
  border-width: $border__width;
  overflow: hidden;
  position: relative;

  input[type="checkbox"] {
    background: transparent;
    border: 0;
    box-shadow: none;
    height: 100%;
    width: 100%;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
  }

  &.checkbox__size--small {
    padding: 4px 8px;
  }

  &.checkbox__size--normal {
    padding: 8px 12px;
  }

  &.checkbox__size--medium {
    padding: 12px 18px;
  }

  &.checkbox__size--big {
    padding: 14px 24px;
  }

  &.checkbox__size--mega {
    padding: 20px 32px;
  }

  /* */

  &.background-color__main--focus {
    input[type="checkbox"]:checked {
      background-color: $color__main;
    }
  }

  &.background-color__secondary--focus {
    input[type="checkbox"]:checked {
      background-color: $color__secondary;
    }
  }

  &.background-color__utilitary--focus {
    input[type="checkbox"]:checked {
      background-color: $color__utilitary;
    }
  }

  &.background-color__titles--focus {
    input[type="checkbox"]:checked {
      background-color: $color__titles;
    }
  }

  &.background-color__text--focus {
    input[type="checkbox"]:checked {
      background-color: $color__text;
    }
  }

  &.background-color__link--focus {
    input[type="checkbox"]:checked {
      background-color: $color__link;
    }
  }

  &.background-color__grey--focus {
    input[type="checkbox"]:checked {
      background-color: $color__grey;
    }
  }

  &.background-color__grey--regent--focus {
    input[type="checkbox"]:checked {
      background-color: $color__grey--regent;
    }
  }

  &.background-color__green--focus {
    input[type="checkbox"]:checked {
      background-color: $color__green;
    }
  }

  &.background-color__red--focus {
    input[type="checkbox"]:checked {
      background-color: $color__red;
    }
  }

  &.background-color__yellow--focus {
    input[type="checkbox"]:checked {
      background-color: $color__yellow;
    }
  }

  &.background-color__blue--focus {
    input[type="checkbox"]:checked {
      background-color: $color__blue;
    }
  }

  &.background-color__orange--focus {
    input[type="checkbox"]:checked {
      background-color: $color__orange;
    }
  }

  &.background-color__pink--focus {
    input[type="checkbox"]:checked {
      background-color: $color__pink;
    }
  }

  &.background-color__aqua--focus {
    input[type="checkbox"]:checked {
      background-color: $color__aqua;
    }
  }

  &.background-color__white--focus {
    input[type="checkbox"]:checked {
      background-color: $color__white;
    }
  }

  &.background-color__black--focus {
    input[type="checkbox"]:checked {
      background-color: $color__black;
    }
  }

  &.background-color__transparent--focus {
    input[type="checkbox"]:checked {
      background-color: transparent;
    }
  }

  /* */

  &.text-color__main--focus {
    input[type="checkbox"]:checked + label {
      color: $color__main;
    }
  }

  &.text-color__secondary--focus {
    input[type="checkbox"]:checked + label {
      color: $color__secondary;
    }
  }

  &.text-color__utilitary--focus {
    input[type="checkbox"]:checked + label {
      color: $color__utilitary;
    }
  }

  &.text-color__titles--focus {
    input[type="checkbox"]:checked + label {
      color: $color__titles;
    }
  }

  &.text-color__text--focus {
    input[type="checkbox"]:checked + label {
      color: $color__text;
    }
  }

  &.text-color__link--focus {
    input[type="checkbox"]:checked + label {
      color: $color__link;
    }
  }

  &.text-color__grey--focus {
    input[type="checkbox"]:checked + label {
      color: $color__grey;
    }
  }

  &.text-color__grey--regent--focus {
    input[type="checkbox"]:checked + label {
      color: $color__grey--regent;
    }
  }

  &.text-color__green--focus {
    input[type="checkbox"]:checked + label {
      color: $color__green;
    }
  }

  &.text-color__red--focus {
    input[type="checkbox"]:checked + label {
      color: $color__red;
    }
  }

  &.text-color__yellow--focus {
    input[type="checkbox"]:checked + label {
      color: $color__yellow;
    }
  }

  &.text-color__blue--focus {
    input[type="checkbox"]:checked + label {
      color: $color__blue;
    }
  }

  &.text-color__orange--focus {
    input[type="checkbox"]:checked + label {
      color: $color__orange;
    }
  }

  &.text-color__pink--focus {
    input[type="checkbox"]:checked + label {
      color: $color__pink;
    }
  }

  &.text-color__aqua--focus {
    input[type="checkbox"]:checked + label {
      color: $color__aqua;
    }
  }

  &.text-color__white--focus {
    input[type="checkbox"]:checked + label {
      color: $color__white;
    }
  }

  &.text-color__black--focus {
    input[type="checkbox"]:checked + label {
      color: $color__black;
    }
  }

  &.text-color__transparent--focus {
    input[type="checkbox"]:checked + label {
      color: transparent;
    }
  }
}
