/**
 * Aligns mods
 */

/* Vertical aligns */
.vertical-align__top {
    vertical-align: top;
}

.vertical-align__middle {
    vertical-align: middle;
}

.vertical-align__bottom {
    vertical-align: bottom;
}

.vertical-align__baseline {
    vertical-align: baseline;
}
