/* Base background colors */

.background-color__main {
  background-color: $color__main;
}

.background-color__secondary {
  background-color: $color__secondary;
}

.background-color__utilitary {
  background-color: $color__utilitary;
}

.background-color__titles {
  background-color: $color__titles;
}

.background-color__text {
  background-color: $color__text;
}

.background-color__link {
  background-color: $color__link;
}

.background-color__grey {
  background-color: $color__grey;
}

.background-color__grey--regent {
  background-color: $color__grey--regent;
}

.background-color__green {
  background-color: $color__green;
}

.background-color__red {
  background-color: $color__red;
}

.background-color__yellow {
  background-color: $color__yellow;
}

.background-color__blue {
  background-color: $color__blue;
}

.background-color__orange {
  background-color: $color__orange;
}

.background-color__pink {
  background-color: $color__pink;
}

.background-color__aqua {
  background-color: $color__aqua;
}

.background-color__white {
  background-color: $color__white;
}

.background-color__black {
  background-color: $color__black;
}

.background-color__transparent {
  background-color: transparent;
}

/* Social networks background colors */

.background-color__facebook {
  background-color: $color__facebook;
}

.background-color__twitter {
  background-color: $color__twitter;
}

.background-color__instagram {
  background-color: $color__instagram;
}

.background-color__youtube {
  background-color: $color__youtube;
}

.background-color__reddit {
  background-color: $color__reddit;
}

.background-color__pinterest {
  background-color: $color__pinterest;
}

.background-color__whatsapp {
  background-color: $color__whatsapp;
}

.background-color__twitch {
  background-color: $color__twitch;
}

.background-color__snapchat {
  background-color: $color__snapchat;
}

/* Hover background colors */

.background-color__main--hover:hover {
  background-color: $color__main;
}

.background-color__secondary--hover:hover {
  background-color: $color__secondary;
}

.background-color__utilitary--hover:hover {
  background-color: $color__utilitary;
}

.background-color__titles--hover:hover {
  background-color: $color__titles;
}

.background-color__text--hover:hover {
  background-color: $color__text;
}

.background-color__link--hover:hover {
  background-color: $color__link;
}

.background-color__grey--hover:hover {
  background-color: $color__grey;
}

.background-color__grey--regent--hover:hover {
  background-color: $color__grey--regent;
}

.background-color__green--hover:hover {
  background-color: $color__green;
}

.background-color__red--hover:hover {
  background-color: $color__red;
}

.background-color__yellow--hover:hover {
  background-color: $color__yellow;
}

.background-color__blue--hover:hover {
  background-color: $color__blue;
}

.background-color__orange--hover:hover {
  background-color: $color__orange;
}

.background-color__pink--hover:hover {
  background-color: $color__pink;
}

.background-color__aqua--hover:hover {
  background-color: $color__aqua;
}

.background-color__white--hover:hover {
  background-color: $color__white;
}

.background-color__black--hover:hover {
  background-color: $color__black;
}

.background-color__transparent--hover:hover {
  background-color: transparent;
}

/* Focus background colors */

.background-color__main--focus:focus {
  background-color: $color__main;
}

.background-color__secondary--focus:focus {
  background-color: $color__secondary;
}

.background-color__utilitary--focus:focus {
  background-color: $color__utilitary;
}

.background-color__titles--focus:focus {
  background-color: $color__titles;
}

.background-color__text--focus:focus {
  background-color: $color__text;
}

.background-color__link--focus:focus {
  background-color: $color__link;
}

.background-color__grey--focus:focus {
  background-color: $color__grey;
}

.background-color__grey--regent--focus:focus {
  background-color: $color__grey--regent;
}

.background-color__green--focus:focus {
  background-color: $color__green;
}

.background-color__red--focus:focus {
  background-color: $color__red;
}

.background-color__yellow--focus:focus {
  background-color: $color__yellow;
}

.background-color__blue--focus:focus {
  background-color: $color__blue;
}

.background-color__orange--focus:focus {
  background-color: $color__orange;
}

.background-color__pink--focus:focus {
  background-color: $color__pink;
}

.background-color__aqua--focus:focus {
  background-color: $color__aqua;
}

.background-color__white--focus:focus {
  background-color: $color__white;
}

.background-color__black--focus:focus {
  background-color: $color__black;
}

.background-color__transparent--focus:focus {
  background-color: transparent;
}
