/**
 * Border radius modifiers
 */

.border-radius__rounded {
    border-radius: 100px;
}

.border-radius__small {
    border-radius: 2px;
}

.border-radius__small--x {
    border-radius: 4px;
}

.border-radius__normal {
    border-radius: 8px;
}

.border-radius__medium {
    border-radius: 12px;
}

.border-radius__medium--x {
    border-radius: 16px;
}

.border-radius__big {
    border-radius: 20px;
}

.border-radius__big--x {
    border-radius: 24px;
}

.border-radius__mega {
    border-radius: 28px;
}

.border-radius__mega--x {
    border-radius: 32px;
}
