/* Letter spacing */

.letter-spacing__small {
    letter-spacing: 0.2px;
}

.letter-spacing__normal {
    letter-spacing: 0.5px;
}

.letter-spacing__medium {
    letter-spacing: 1px;
}

.letter-spacing__big {
    letter-spacing: 1.5px;
}

@media only screen and (min-width: $wrap__lg) {
    .letter-spacing__small {
        letter-spacing: 0.5px;
    }

    .letter-spacing__normal {
        letter-spacing: 1px;
    }

    .letter-spacing__medium {
        letter-spacing: 1.5px;
    }

    .letter-spacing__big {
        letter-spacing: 2px;
    }
}
