/* Base text colors */

.text-color__main {
  color: $color__main;
}

.text-color__secondary {
  color: $color__secondary;
}

.text-color__utilitary {
  color: $color__utilitary;
}

.text-color__titles {
  color: $color__titles;
}

.text-color__text {
  color: $color__text;
}

.text-color__link {
  color: $color__link;
}

.text-color__grey {
  color: $color__grey;
}

.text-color__grey--regent {
  color: $color__grey--regent;
}

.text-color__green {
  color: $color__green;
}

.text-color__red {
  color: $color__red;
}

.text-color__yellow {
  color: $color__yellow;
}

.text-color__blue {
  color: $color__blue;
}

.text-color__orange {
  color: $color__orange;
}

.text-color__pink {
  color: $color__pink;
}

.text-color__aqua {
  color: $color__aqua;
}

.text-color__white {
  color: $color__white;
}

.text-color__black {
  color: $color__black;
}

.text-color__transparent {
  color: transparent;
}

/* Social networks colors */

.text-color__facebook {
  color: $color__facebook;
}

.text-color__twitter {
  color: $color__twitter;
}

.text-color__instagram {
  color: $color__instagram;
}

.text-color__youtube {
  color: $color__youtube;
}

.text-color__reddit {
  color: $color__reddit;
}

.text-color__pinterest {
  color: $color__pinterest;
}

.text-color__whatsapp {
  color: $color__whatsapp;
}

.text-color__twitch {
  color: $color__twitch;
}

.text-color__snapchat {
  color: $color__snapchat;
}

/* Hover text colors */

.text-color__main--hover:hover {
  color: $color__main;
}

.text-color__secondary--hover:hover {
  color: $color__secondary;
}

.text-color__utilitary--hover:hover {
  color: $color__utilitary;
}

.text-color__titles--hover:hover {
  color: $color__titles;
}

.text-color__text--hover:hover {
  color: $color__text;
}

.text-color__link--hover:hover {
  color: $color__link;
}

.text-color__grey--hover:hover {
  color: $color__grey;
}

.text-color__grey--regent--hover:hover {
  color: $color__grey--regent;
}

.text-color__green--hover:hover {
  color: $color__green;
}

.text-color__red--hover:hover {
  color: $color__red;
}

.text-color__yellow--hover:hover {
  color: $color__yellow;
}

.text-color__blue--hover:hover {
  color: $color__blue;
}

.text-color__orange--hover:hover {
  color: $color__orange;
}

.text-color__pink--hover:hover {
  color: $color__pink;
}

.text-color__aqua--hover:hover {
  color: $color__aqua;
}

.text-color__white--hover:hover {
  color: $color__white;
}

.text-color__black--hover:hover {
  color: $color__black;
}

.text-color__transparent--hover:hover {
  color: transparent;
}

/* Focus text colors */

.text-color__main--focus:focus {
  color: $color__main;
}

.text-color__secondary--focus:focus {
  color: $color__secondary;
}

.text-color__utilitary--focus:focus {
  color: $color__utilitary;
}

.text-color__titles--focus:focus {
  color: $color__titles;
}

.text-color__text--focus:focus {
  color: $color__text;
}

.text-color__link--focus:focus {
  color: $color__link;
}

.text-color__grey--focus:focus {
  color: $color__grey;
}

.text-color__grey--regent--focus:focus {
  color: $color__grey--regent;
}

.text-color__green--focus:focus {
  color: $color__green;
}

.text-color__red--focus:focus {
  color: $color__red;
}

.text-color__yellow--focus:focus {
  color: $color__yellow;
}

.text-color__blue--focus:focus {
  color: $color__blue;
}

.text-color__orange--focus:focus {
  color: $color__orange;
}

.text-color__pink--focus:focus {
  color: $color__pink;
}

.text-color__aqua--focus:focus {
  color: $color__aqua;
}

.text-color__white--focus:focus {
  color: $color__white;
}

.text-color__black--focus:focus {
  color: $color__black;
}

.text-color__transparent--focus:focus {
  color: transparent;
}
