

/**
 * About us page
 */
.page-template-about-us{
    .section-intro{
        position: relative;
        padding-top: 220px;
    }

    .about-stats{
        padding-top: 140px;
        padding-bottom: 50px;
        position: relative;
        overflow: hidden;

        h4{
            vertical-align: middle;
            margin-left: 6px;;
            margin-top: 0;
            line-height: 1;
        }

        &:before{
            content: "";
            width: 730px;
            height: 730px;
            border-radius: 50%;
            position: absolute;
            top: 86px;
            border: 1px solid $color__titles;
            margin: auto;
            left: 0;
            right: 0;
            z-index: -1;
        }
    }

    .about-team{
        padding-bottom: 0;

        &__logos{
            position: relative;
            bottom: -38px;
            margin-top: 26px;

            article{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &__members{
            img{
                width: 120px;
                height: 120px;
                margin: 0 auto .5rem;
                border: 2px solid #fff;
                border-radius: 50%;
                object-fit: cover;
                object-position: center top;
            }
        }
    }

    .about-press{
        padding-bottom: 0;

        h2+.row{
            margin-top: 50px;
        }

        &__item{
            padding: 0;

            &__thumb{
                height: 140px;
                border-radius: 8px 8px 0 0;

                a{
                    width: 160px;
                    height: 160px;
                    background: #fff;
                    margin-top: -32px;
                    display: block;
                    border-radius: 50%;
                    margin: 0 auto;
                    position: relative;
                    top: -32px;
                    box-shadow: 0px 4px 12px rgba(47, 45, 91, 0.15);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                img{
                    transition: .5s ease;
                    object-fit: contain;
                    max-width: 95;
                }

                &:hover img{
                    transform: scale(1.05);
                }
            }

            &__content{
                min-height: 198px;
            }
        }
    }
}