/**
 * Advisory
 */

.page-template-advisory{
    #header{
        background: $color__white;
    }

    .section-intro{
        span{
            color: $color__main;
        }
    }

    .section-features{
        position: relative;
        overflow-y: hidden;

        &:before{
            content: "";
            width: 800px;
            height: 800px;
            max-width: 90vw;
            max-height: 90vw;
            border-radius: 50%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            border: 1px solid rgba($color__white, .4);
            pointer-events: none;
        }

        h2{
            margin: -.5rem 2.625rem 0 0;
        }

        ul{
            padding: 0;
            margin: 0;

            li{
                list-style: none;
            }

            i{
                background-color: #DAEBFF;
                color: $color__main;
                width: 23px;
                height: 23px;
                line-height: 23px;
                border-radius: 50%;
                margin-right: 13px;
                display: inline-block;
                vertical-align: middle;
                font-size: 12px;
                text-align: center;
            }

            li+li{
                margin-top: 1rem;
            }
        }
    }

    .members__slider{
        margin-top: 40px;

        .item-wrapper{
            display: flex;
            padding: 10px;
        }

        .member-img{
            flex: 0 0 266px;
            position: relative;

            &:before{
                position: absolute;
                left: -10px;
                right: 0;
                top: -10px;
                bottom: 0;
                width: 266px;
                height: 281px;
                content: "";
                background-color: $color__white;
                opacity: .1;
            }

            img{
                width: 266px;
                height: 281px;
                object-fit: cover;
                z-index: 10;
                position: relative;
                height: calc(100% - 130px);
            }
        }

        .member-card{
            padding: 35px 46px;
            margin-top: 40px;
            margin-left: 26px;
            min-height: 382px;
            width: 100%;
            font-size: .875rem;

            header{
                border-bottom: 1px solid #eee;
            }

            .btn{
                text-align: center;
                transition: .5s ease;
                border: 1px solid #eee;
                background: none;
                color: $color__text;

                &:hover{
                    border-color: $color__main;
                }
            }
        }
    }

    .members__img-slider{
        width: 266px;
        margin-left: 10px;
        margin-top: -126px;

        .slick-slide {
          margin: 0 6px;
        }

        .slick-list {
          margin: 0 -6px;
        }

        img{
            height: 82px;
            object-fit: cover;
            margin: 0;
            width: 100%;
        }

        .members__img-slider-member.slick-current {
            display: none;
        }

        .member-img{
            cursor: pointer;
            position: relative;

            &:after{
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                content: "";
                background-color: #000;
                opacity: .5;
                transition: .5s ease;
            }

            &:hover:after{
                opacity: 0;
            }
        }
    }

    .services__cards-title{
        margin-bottom: 2.5rem;
    }

    .services__cards .card{
        padding: 0;
        margin-bottom: 46px;
        width: 100%;

        p{
            min-height: 55px;
            margin-bottom: 10px;
        }

        .img-wrapper{
            position: relative;
            overflow: hidden;
            border-radius: 8px 8px 0 0;
            height: 11.625rem;
            background: $color__white;

            img{
                height: 11.625rem;
                object-fit: cover;
                width: 100%;
                transition: 1.3s cubic-bezier(0.17, 0.84, 0.44, 1);
            }

            i{
                z-index: 10;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background: #2278DD;
                color: #ffffff;
                text-align: center;
                margin: auto;
                line-height: 32px;
                font-size: .75rem;
                transition: 1.3s cubic-bezier(0.17, 0.84, 0.44, 1);
                pointer-events: none;
            }

            &:hover img,
            &:hover i{
               transform: scale3d(1.05, 1.05, 1.05);
            }
        }

        .body-wrapper{
            padding: 20px 20px 24px 20px;
            color: #666;
            min-height: 210px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            header{
                min-height: 56px;
            }
        }

        .service-price{
            text-align: right;

            h6{
                font-size: .625rem;
                letter-spacing: 0.135em;
                font-weight: 400;
                color: $color__text;
                text-transform: uppercase;
            }
        }

        .service-footer{
            margin-top: 1rem;

            .btn.btn--primary{
                padding: 8px 10px;
                width: 100%;
                text-align: center;
                transition: .5s ease;
                border: 1px solid #eee;
                background: none;
                color: $color__text;

                i{
                    color: $color__main;
                }

                &:hover{
                    border-color: $color__main;
                }
            }
        }
    }

    .advisory__form{

        div.wpforms-container-full {
            margin: 0;
            padding: 0;

            input[type="text"],
            input[type="email"],
            input[type="number"],
            input[type="tel"],
            input[type="url"],
            input[type="phone"],
            input[type="password"],
            textarea {
                width: 100%;
                text-align: left;
                background: $color__white;
                color: $color__titles;
                border: 1px solid $color__grey--regent;
                border-radius: 4px;

                &::placeholder {
                    color: $color__text;
                }
            }

            .wpforms-form .wpforms-field-label{
                font-weight: 400;
                color: $color__titles;
                margin-bottom: 15px;
            }

            select {
                color: $color__titles;
                text-align: left;
                border: 0;
                border-radius: 0;
            }

            .country-list {
                color: $color__titles;
            }

            input[type="radio"],
            input[type="checkbox"] {
                display: none;
            }

            input[type="radio"] + label,
            input[type="checkbox"] + label {
                cursor: pointer;
            }

            input[type="radio"]:checked + label:before,
            input[type="checkbox"]:checked + label:before {
                line-height: 11.5px;
                color: $color__main;
                border-color: $color__main;
            }

            .wpforms-form input[type=submit],
            .wpforms-form button[type=submit],
            .wpforms-form .wpforms-page-button,
            button,
            input[type="submit"] {
                background: $color__main;
                border-color: $color__main;
                color: $color__white;
                border-radius: 4px;
                padding: 12px 24px;
                width: 100%;
            }

            .wpforms-page-indicator {
                * {
                    text-align: center;
                }

                .wpforms-page-indicator-steps {
                    display: block;
                }

                .wpforms-page-indicator-page-progress-wrap {
                    height: 4px;
                    margin-top: 12px;
                    background: rgba(black,0.3);

                    .wpforms-page-indicator-page-progress {
                        background: $color__secondary !important;
                    }
                }
            }
        }
    }

}
