/**
 * Corporative image
 */

.page-template-corporative-image{
    .section-intro{
        padding: 160px 0 80px;
        position: relative;

        &:before{
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: $color__main;
            clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
        }

        h1 span{
            position: relative;

            &:after{
                content: "";
                background: url(assets/images/underline-decoration.svg) no-repeat;
                filter: brightness(10);
                width: 63px;
                height: 8px;
                position: absolute;
                left: 4px;
                right: 0;
                bottom: -3px;
                margin: auto;
                display: block;
            }
        }

        .ba-slider-wrapper{
          width: 464px;
          height: 293px;
          position: relative;
          background: url(assets/images/website-browser.svg) no-repeat;
          background-size: contain;
          top: 60px;

          &:before{
            content: "";
            position: absolute;
            left: -60px;
            top: -60px;
            width: 608px;
            height: 608px;
            border-radius: 50%;
            background: rgba(247, 248, 251, 0.4);
          }
        }

        /* Our image information */
        .before,
        .after {
          background-repeat:no-repeat;
          background-color: white;
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 21px;
          left: 2px;
          right: 3px;
          bottom: 3px;
          pointer-events:none;
          overflow: hidden;
          padding: 2.5rem;
          border-radius: 0 0 4px 4px;
        }

        .after{
            width:125px;
        }

        .after{
            background-color: #F0EEF2;
        }

        .before-wrapper,
        .after-wrapper{
            width: 400px;

            h4{
                margin-top: 1.5rem;
            }

            img{
                margin: 28px auto 0;
                display: block;
                width: 224px;
            }
        }

        .before-wrapper h4{
            margin-left: 234px;
        }

        .content-image{
          height:100%;
        }

        .scroller{
          width: 24px;
          height:24px;
          position: absolute;
          left:126px;
          bottom: 20px;
          border-radius:50%;
          background-color: $color__main;
          opacity:0.9;
          pointer-events:auto;
          cursor: pointer;
        }

        .scroller:hover{
          opacity:1;
        }

        .scrolling{
          pointer-events:none;
          opacity:1;
          // z-index: 1;
        }

        .scroller__thumb{
          width:100%;
          height:100%;
          padding:5px;
        }

        /* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
        .scroller{
          border: 5px solid #fff;
        }
        .scroller:before,
        .scroller:after{
          background: #fff;
        }
    }

    .corporative-image-services{
        .wrap{
            position: relative;

            &:before{
                content: "";
                left: 4.15%;
                top: -124px;
                height: 0;
                border: 1px dashed #CCCCCC;
                position: absolute;
                transition: 1s ease;
            }

            &:after{
                content: "";
                left: 4.15%;
                top: 115px;
                width: 0;
                border: 1px dashed #CCCCCC;
                position: absolute;
                transition: 1s ease;
                transition-delay: 1s;
            }

            article.item{
                position: relative;
                z-index: 20;

                .img-wrapper img{
                    width: 100%;
                }
            }

            .or-deco{
                position: absolute;
                width: 2.5rem;
                height: 2.5rem;
                line-height: 2.5rem;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 0.1em;
                font-size: .875rem;
                border-radius: 50%;
                top: -40px;
                left: 1.7rem;
            }
        }

        &.corporative-image-services--active{
            .wrap:before{
                height: 237px;
            }

            .wrap:after{
                width: 91%;
            }
        }
    }

    .corporative-image-branding{
        .icon{
            width: 72px;
            height: 76px;
            line-height: 76px;
            border-radius: 6px;
        }

        h2{
            margin-bottom: 5.1875rem;
        }
    }

    .corporative-image-faq{
        background-color: #F7F8FB;

        header{
            display: flex;
            align-items: center;

            button{
                border: none;
                height: 1.75rem;
                width: 1.75rem;
                border-radius: 50%;
                display: block;
                padding: 0;
                line-height: 1.75rem;
                flex: 0 0 1.75rem;
                margin-left: 1rem;
            }

            h4{
                margin: 0;
                cursor: pointer;
            }
        }

        .answer{
            display: none;
            padding-top: 1rem;
        }

        .corporative-image-faq__list{
            margin-top: 3.125rem;
        }
    }

    .corporative-image-forms{
        .form-selector{
            list-style: none;
            padding: 0;

            i{
                border: none;
                height: 2.5rem;
                width: 2.5rem;
                border-radius: 50%;
                display: block;
                padding: 0;
                line-height: 2.5rem;
                text-align: center;
                margin-right: 1rem;
                display: inline-block;
            }

            button{
                background: none;
                border: none;
                padding: 0;
                display: inline-block;
                color: $color__titles;
            }

            li+li{
                margin-top: 1rem;
            }

            li{
                opacity: .5;
                transition: .5s ease;
            }

            li.active,
            li:hover{
                opacity: 1;
            }
        }

            .corporative-image-forms__form{
                display: none;

                &.active{
                    display: block;
                }

                div.wpforms-container-full {
                    margin: 0;
                    padding: 0;

                    input[type="text"],
                    input[type="email"],
                    input[type="number"],
                    input[type="tel"],
                    input[type="url"],
                    input[type="phone"],
                    input[type="password"],
                    textarea {
                        width: 100%;
                        text-align: left;
                        background: $color__white;
                        color: $color__titles;
                        border: 1px solid $color__grey--regent;
                        border-radius: 4px;

                        &::placeholder {
                            color: $color__text;
                        }
                    }

                    .wpforms-form .wpforms-field-label{
                        font-weight: 400;
                        color: $color__titles;
                        margin-bottom: 15px;
                    }

                    select {
                        color: $color__titles;
                        text-align: left;
                        border: 0;
                        border-radius: 0;
                    }

                    .country-list {
                        color: $color__titles;
                    }

                    input[type="radio"],
                    input[type="checkbox"] {
                        display: none;
                    }

                    input[type="radio"] + label,
                    input[type="checkbox"] + label {
                        cursor: pointer;
                    }

                    input[type="radio"]:checked + label:before,
                    input[type="checkbox"]:checked + label:before {
                        line-height: 11.5px;
                        color: $color__main;
                        border-color: $color__main;
                    }

                    .wpforms-form input[type=submit],
                    .wpforms-form button[type=submit],
                    .wpforms-form .wpforms-page-button,
                    button,
                    input[type="submit"] {
                        background: $color__main;
                        border-color: $color__main;
                        color: $color__white;
                        border-radius: 4px;
                        padding: 12px 24px;
                        width: 100%;
                    }

                    .wpforms-page-indicator {
                        * {
                            text-align: center;
                        }

                        .wpforms-page-indicator-steps {
                            display: block;
                        }

                        .wpforms-page-indicator-page-progress-wrap {
                            height: 4px;
                            margin-top: 12px;
                            background: rgba(black,0.3);

                            .wpforms-page-indicator-page-progress {
                                background: $color__secondary !important;
                            }
                        }
                    }
                }
            }
    }
}

