/* --------------------------------------------------
ERROR PAGE
----------------------------------------------------- */
.error404 .page-content{
    position: relative;
    display: flex;
    align-items: normal;
    flex-direction: column;
    justify-content: center;
    background: #f3f8ff;

    &:before{
        content: "404";
        font-size: 500px;
        color: #e2e3ec;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: normal;
        font-family: $font__secondary;
        opacity: .5;
    }

    .container-fluid{
        z-index: 10;
        position: relative;
    }
}

//Search form
.search-form{
    position: relative;

    button{
        bottom: 4px;
        position: absolute;
        right: 4px;
        top: 4px;
    }

    input[type=text]{
        padding: 16px;
        border: none;
        width: 100%;
        border: 1px solid $color__utilitary;
    }
}