/* --------------------------------------------------
GENERAL
----------------------------------------------------- */
html{
    scroll-behavior: smooth;
}

/* --------------------------------------------------
DEFAULT PAGE
----------------------------------------------------- */
.page-template-default{
    .page-content{
        padding: 32px 60px;

        h1{
            font-size: 1.5rem;
        }
    }
}

/* --------------------------------------------------
WHITE HEADER
----------------------------------------------------- */


#mega-menu-wrap-menu-main #mega-menu-menu-main img {
    max-height: 62px;
    object-fit: contain;
    object-position: center;
    display: block;
    margin: 0 auto!important;
}

#mega-menu-wrap-menu-main #mega-menu-menu-main a.mega-menu-link .mega-description-group{
    text-align: center;
    display: block;
    width: 100%;
}

#mega-menu-wrap-menu-main li.mega-menu-item-has-children{
    transition: .8s ease;
}

#mega-menu-wrap-menu-main li.mega-menu-item-has-children:hover {
    background: #fff!important;
    border-radius: 8px 8px 0 0!important;
}

#mega-menu-wrap-menu-main #mega-menu-menu-main[data-effect="fade_up"] li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu{
    transform: translate(0, -10px);
}

#mega-menu-wrap-menu-main #mega-menu-menu-main li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu{
    box-shadow: 3px 5px 6px rgba(0,0,0,.05);
}

#mega-menu-wrap-menu-main #mega-menu-menu-main > li.mega-menu-item{
    transition: .6s ease;
}

#header.header__white{
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    z-index: 444;

    #mega-menu-menu-main>li>a,
    #mega-menu-wrap-menu-main .mega-menu-toggle .mega-toggle-block:after{
        color: #fff!important;
        transition: .5s ease;
    }

    #mega-menu-menu-main>li:not(.mega-menu-item-has-children)>a:hover{
        color: $color__white !important;
        opacity: .6;
    }

    #mega-menu-menu-main>li.mega-menu-item-has-children:hover>a{
        color: $color__titles !important;
    }
}

#footer.footer__white{
    background: $color__titles;
    color: $color__white;

    a{
        color: $color__white;
    }

    .lang-selector .trp-language-switcher .trp-ls-shortcode-language a{
        color: #fff;
    }
}

.section-intro{
    h1{
        line-height: 1.3;
    }
}
