/**
 * Healthcare
 */
body.page-template-landing-healthcare {
    background: $color__white;

    #header {
        background: $color__white;
    }

    #healthcare--landing {
        display: block;
        margin-bottom: 40px;
        padding: 0 40px;

        .healthcare--landing__banner {
            background: lighten($color__main, 40%);
            overflow: hidden;
            position: relative;

           .healthcare--landing__banner--bg {
                object-fit: cover;
                object-position: center;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
           }

           .banner--promo {
                border: 2px dashed $color__main;
                box-shadow: 0 2px 1px rgba(white,0.1);
                display: inline-block;
                position: relative;

                .label {
                    margin-bottom: 4px;
                }

                .coupon {
                    letter-spacing: 2px;
                }
            }

            .banner--features {
                display: block;
                margin-top: 80px;

                .feature--card {
                    box-shadow: 0 2px 1px rgba($color__titles,0.1);
                    padding-top: 40px;
                    position: relative;
                    min-height: 12.5rem;

                    i{
                        background: $color__main;
                        border-radius: 50%;
                        color: white;
                        height: 50px;
                        line-height: 50px;
                        margin: -60px 0 0 0;
                        position: absolute;
                        text-align: center;
                        width: 50px;
                    }

                    .title{
                        letter-spacing: -0.05em;
                    }
                }
            }
        }
    }

    .healthcare--landing__footer .footer-logo {
       height: 40px;
    }

    #partners .logos .logo {
        opacity: .8;
    }
}