

/**
 * Home
 */

.page-template-home{
    #footer .footer-top{
        border-top: 1px solid rgba($color__titles, .2);
    }
}


#home__main-banner{

    .banner-text {
        padding: 8% 0 6%;

        .banner-title {
            font-size: 4rem;
            line-height: 1.25;
        }
    }

    .banner-image{
        display: block;
        margin: 0 auto;
        max-width: 800px;
        position: relative;
        width: 80%;

        .banner--image__app {
            left: 50%;
            margin-left: -62%;
            position: absolute;
            top: 45%;
            width: 40%;
            z-index: 200;
        }

        .banner--image__app.booking {
            margin-left: -66%;
            margin-top: -7%;
        }

        .banner--image__app.pms {
            margin-left: -70%;
            margin-top: 7%;
        }

       .banner--image__checkout {
            right: 50%;
            margin-right: -61%;
            position: absolute;
            top: 20%;
            width: 22%;
            z-index: 200;
        }
    }

}

#home__covid{
    position: relative;

    .center-xs{
        text-align: left;
    }
}

#home-marketplace{
    position: relative;
    overflow: hidden;
    height: 100vh;

    .marketplace-cards{
        position: absolute;
        top: -38px;
        bottom: 0;
        right: -50px;
        max-width: 55%;

        &>.row{
            display: block;
            columns: 3;
        }
    }

    &.home-marketplace--active>.container-fluid{
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
    }
}

#home-steps{
    padding-bottom: 222px;

    .steps__step{
        position: relative;
        padding-top: .25rem;
        padding-bottom: 122px;

        .icon{
            position: absolute;
            top: 0;
            left: -5rem;
            border-radius: 50%;
            width: 56px;
            height: 56px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .icon,
        i{
            transition: .5s ease;
        }

        i{
            line-height: 1;
        }

        &:before{
            content: "";
            display: block;
            position: absolute;
            left: -49px;
            top: 76px;
            width: 1px;
            background: $color__utilitary;
            height: calc(100% - 24px);
        }

        &:last-of-type:before{
            display: none;
        }

        &:last-of-type{
            padding-bottom: 0;
        }

        &--active .icon{
            background: $color__main;

            i{
                color: $color__white;
            }
        }
    }

    .steps__illustrations{
        transition: .5s ease;
        width: 510px;
        max-width: 100%;
    }

    &.home-steps--active .steps__illustrations{
        position: fixed;
        top: 100px;
        width: 650px;
        max-width: 55%;
        text-align: center;
    }

    .steps__illustration{
        display: none;

        &--active{
            display: block;
        }
    }
}

#home-checkout{
    z-index: 100;
    padding-right: 7%;

    .home-checkout-animation img:nth-child(2){
        position: absolute;
        top: 13%;
        right: 9%;
        width: 21%;
    }

    .home-checkout-animation img:nth-child(3){
        position: absolute;
        top: 32%;
        right: -6%;
        width: 18%;
    }

    .home-checkout-animation img:nth-child(4){
        position: absolute;
        top: 48%;
        right: 13%;
        width: 15%;
    }

    .home-checkout-animation img:nth-child(5){
        position: absolute;
        top: 63%;
        right: 3%;
        width: 21%;
    }
}

#home-quotes{
    position: relative;
    z-index: 10;
    padding-top: 102px;

    .quotes-logos{

        .slick-track{
            display: flex;
            align-items: center;
        }

        a{
            opacity: .5;
            transition: .5s ease;
        }

        img{
            margin: 0 auto;
            max-width: 100px;
        }

        a:hover,
        .slick-current a{
            opacity: 1;
        }
    }

    .quotes-slider{
        position: relative;
        top: 68px;
    }

    .quotes-slider__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .quotes-slider__slide{
        overflow: hidden;
        text-align: left;

        blockquote:before,
        blockquote:after{
            content: "“";
            font-family: $font__secondary;
            font-size: 2.5rem;
            font-weight: 900;
            opacity: .5;
        }

        blockquote:before{
            top: -1rem;
            left: -1.25rem;
            position: absolute;
        }

        blockquote:after{
            content: "”";
            line-height: 1;
            vertical-align: top;
        }

        .quotes-slider__images:before{
            content: '';
            position: absolute;
            left: var(--half-gutter-width, 0.5rem);;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(#000, .5);
        }

        .quotes-slider__img--hotel{
            width: 100%;
            min-height: 330px;
            object-fit: cover;
        }

        .quotes-slider__img--logo{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 40%;
            height: auto;
        }
    }
}