
/**
 * Hotels
 */

 .page-template-hotels{

    #header{
        background: $color__white;
    }

    .section-intro{
        h1 span{
            position: relative;

            &:after{
                content: "";
                background: url(assets/images/underline-decoration.svg) no-repeat;
                width: 63px;
                height: 8px;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -3px;
                margin: auto;
                display: block;
            }
        }
    }

    .hotels-location__select-wrapper{
        position: relative;
        width: 16.25rem;

        select{
            height: 3rem;
            line-height: 3rem;
            font-size: .875rem;
            color: $color__text;
            background: #fff;
            border: 1px solid #D4DFE8;
            box-shadow: 0px 1px 2px rgba(34, 31, 93, 0.15);
            padding: 0 0 0 2rem;
            width: 100%;
        }

        i{
            position: absolute;
            font-weight: 900;
            right: 1.25rem;
            top: 1rem;
            bottom: 0;
            margin: auto;
            z-index: 10;
        }
    }

    .hotels__order-by{

        ul{
            display: flex;
            list-style: none;
            justify-content: flex-end;
        }

        a{
            color: $color__text;
            font-weight: 400;
            transition: .4s ease;
        }

        li+li{
            margin-left: 2rem;
        }

        li.current a,
        a:hover{
            color: $color__titles;
            font-weight: 700
        }
    }

    .modal-hotel{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        display: none;
        overflow: hidden;
        outline: 0;
        z-index: 10002;

        .modal-fade{
            background: rgba(0,0,0,.5);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .modal-dialog{
            position: relative;
            pointer-events: none;
            width: 500px;
            max-width: 98%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            padding: 1.5rem 0;
            display: flex;
            align-items: center;
        }

        .modal-content{
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border-radius: .3rem;
            outline: 0;
            border-radius: 8px;
            max-height: 90vh;
            overflow-y: auto;
        }

        .modal-body{
            position: relative;
            flex: 1 1 auto;
            padding: 0;
            background: #F7F8FB;
        }

        .modal-hotel__header{
            height: 12.5rem;
            position: relative;
            color: $color__white;

            a{
                color: $color__white;
            }

            .modal-hotel__header-bg{
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .modal-hotel__header-content{
                position: relative;
                z-index: 20;
                padding: 1.75rem 2.875rem 1rem 2.875rem;
                height: 100%;
            }

            &:after{
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                content: "";
                background: rgba(0, 0, 0, 0.5) 0%;
                pointer-events: none;
            }

            .row{
                position: absolute;
                left: 2.875rem;
                right: 2.875rem;
                bottom: 1rem;
                align-items: flex-end;
            }
        }

        .nav-tabs{
            background: $color__white;
            padding: 1.125rem 3.0625rem;

            ul{
                display: flex;
                list-style: none;
                justify-content: space-between;
                margin: 0;
                padding: 0;
            }

            a{
                color: $color__text;
                font-weight: 400;
                transition: .4s ease;
                font-size: .9375rem;
            }

            li+li{
                margin-left: 2rem;
            }

            a.current,
            a:hover{
                color: $color__titles;
                font-weight: 700
            }
        }

        .tab-content__wrapper{

            .tab{
                padding: 2rem 2.875rem;
                color: #666;
                font-size: .9375rem;

                &.tab--gallery{
                    padding: 0;

                    .hotel-modal__gallery-slider{
                        width: 100%;
                        height: 300px;
                    }

                    .slick-arrow{
                        left: 1.5rem;

                        &.slick-next{
                            left: initial;
                            right: 1.5rem;
                        }
                    }

                    img{
                        width: 100%;
                        height: 300px;
                        object-fit: cover;
                    }
                }

                ul{
                    list-style: none;
                    text-align: left;
                    display: flex;
                    padding: 0;
                    margin: 0;
                    flex-wrap: wrap;

                    li:before{
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        color: $color__main;
                        content: "\f058";
                        font-family: "Font Awesome 5 Free";
                        display: inline-block;
                        margin-right: 16px;
                        flex: 0 0 6px;
                        font-size: .75rem;
                    }

                    li{
                        display: flex;
                        align-items: baseline;
                        flex: 0 0 50%;
                        padding-right: 1rem;
                        font-size: .875rem;
                        margin-bottom: 16px;
                    }

                    h5{
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }


            span.location{
                font-size: .875rem;
                color: $color__main;
                font-weight: 700;

                i{
                    margin-right: 6px;
                }
            }

            .tab{
                display: none;

                &:first-of-type{
                    display: block;
                }
            }
        }

        button.close{
            position: absolute;
            right: 2.875rem;
            top: 1.75rem;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-shadow: 0 1px 0 #fff;
            opacity: .5;
            background: none;
            border: none;
            z-index: 50;
            transition: .4s;
            padding: 0;

            &:hover{
                opacity: 1;
            }
        }
    }

    .hotels-cards .card{
        padding: 0;
        margin-bottom: 46px;
        width: 100%;

        p{
            min-height: 105px;
            margin-bottom: 10px;
        }

        .img-wrapper{
            position: relative;
            overflow: hidden;
            border-radius: 8px 8px 0 0;
            height: 11.625rem;
            background: $color__white;

            &:after{
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                content: "";
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
                pointer-events: none;
            }

            span.location{
                position: absolute;
                right: 1.5rem;
                top: .75rem;
                font-size: .75rem;
                color: $color__white;
                text-shadow: 1px 1px 2px rgba(#000, .15);
                z-index: 10;

                i{
                    margin-right: 6px;
                }
            }

            img{
                height: 11.625rem;
                object-fit: cover;
                width: 100%;
                transition: 1.3s cubic-bezier(0.17, 0.84, 0.44, 1);

                &.hotel__logo{
                    width: 140px;
                    height: auto;
                    max-height: 100px;
                    object-fit: contain;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }

            &:hover img{
               transform: scale3d(1.05, 1.05, 1.05);
            }
        }

        .body-wrapper{
            padding: 20px 20px 24px 20px;
            color: #666;
            min-height: 275px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            header{
                display: flex;
                justify-content: space-between;

                .stars{
                    flex-shrink: 0;
                    padding-top: 4px;
                    margin-left: 8px;
                }
            }
        }
    }

    .hotel-price{
        h6{
            font-size: .625rem;
            letter-spacing: 0.135em;
            font-weight: 400;
        }
    }

    .hotel-footer{
        margin-top: .5rem;

        .btn.btn--primary{
            padding: 8px 10px;
            width: 100%;
            text-align: center;
            transition: .5s ease;
            border: 1px solid #eee;
            background: none;
            color: $color__text;

            i{
                color: $color__main;
            }

            &:hover{
                border-color: $color__main;
            }
        }
    }

    .hotels-pagination{
        margin: 2rem auto 4rem;

        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;
        }

        li{
            display: inline-block;
        }

        li+li{
            margin-left: .5rem;
        }

        a{
            width: 28px;
            height: 28px;
            line-height: 28px;
            border-radius: 50%;
            background: $color__white;
            color: $color__titles;
            display: inline-block;
            font-weight: 700;
            font-size: .875rem;
            transition: .4s ease;
        }

        li.current a,
        a:hover{
            background: $color__main;
            color: $color__white;
        }
    }

    .featured-locations{
        h2 i{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background: $color__white;
            color: $color__titles;
            margin-right: .75rem;
            display: inline-block;
            line-height: 45px;
        }

        .card{
            width: 100%;
            padding: 18px 26px;
            color: $color__text;

            h4{
                font-size: 1rem;
                display: inline-block;
                margin-left: .75rem;
                margin-bottom: 0;
            }

            p{
                margin: 0 0 0 1.75rem;
                color: $color__text;
                font-weight: 400;
            }
        }
    }
 }
