/**
 * Landing mastercard
 */

 body.page-id-1092{
    color: #818181;
    background: #fff;

    h1,h2,h3,h4,h5,h6,
    .text-color__titles{
        color: #000;
    }

    h4.font-size__small--x{
        color: #FF9839;
    }

    .background-color__grey{
        background: #F8F8F8;
    }

    .background-color__main{
        background: #000;

        h1,h2,h3,h4,h5,h6,
        .text-color__titles{
            color: #fff;
        }

        h4.font-size__small--x{
            color: #FF9839;
        }
    }

    .btn.background-color__main{
        background: #FF9839;
    }

    .btn.background-color__white.text-color__main{
        color: #000;
    }

    //Intro

    #home__main-banner{
        padding-bottom: 40px;
        position: relative;

        h4.font-size__small--x{
            color: #5F5F5F;
            font-weight: 500;
        }

        .banner-title em{
            font-size: .3em;
            font-style: normal;
            vertical-align: top;
            line-height: 2.3;
            font-weight: 400;
        }

        &:after{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 35%;
            content: "";
            background: #000;
            z-index: -1;
        }

        .text-color__main{
            color: #000;
        }

        .banner-text{
            padding-top: 42px;

            img{
                margin-bottom: 94px;
            }
        }

        .banner-desc{
            font-size: 1.4rem;
        }

        .banner-extra-text{
            width: 600px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            background: #fceaca;
            border-radius: 14px;
            padding: 20px;
            color: #333;
        }

        .banner-integrations img{
            filter: brightness(10);
        }

        .banner-integrations-text{
            color: #fff;
        }
    }

    //Steps

    #home-steps{
        background: #fff;
    }

    #home-steps .steps__step .icon i{
        color: #000;
    }

    #home-steps .steps__step--active .icon{
        background: #000;

        i{
            color: #fff;
        }
    }

    //Checkout
    #home-checkout{
        background: #fff;

       .home-checkout-animation img:nth-child(2),
       .home-checkout-animation img:nth-child(3),
       .home-checkout-animation img:nth-child(4){
            filter: saturate(0);
        }
    }

    //Marketplace
    #home-marketplace .marketplace-cards{
        top: 20px;
    }

    //Footer
    #footer{
        a{
            color: #000;
        }

        .social-nav a{
            color: #BAB9C1;
        }
    }

 }

