/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/
body.page-template-login {
    background: $color__grey;

    #main {
        margin: 60px 0;
    }
}

#login {
    .logo {
        max-width: 346px;
        width: 68%;
    }

    .card {
        padding: 20px 40px 40px 40px;
    }

    label {
        color: $color__titles;
        margin: 16px 0;
    }

    input {
        border-width: 2px;
        outline: none;
        text-align: left;

        &:focus {
            border-color: $color__utilitary;
        }
    }

    .highlight{
        border-bottom: 1px solid $color__main;
    }
}