/**
 * Marketplace
 */

 .page-template-marketplace{

    .marketplace-cards .card{
        padding-top: 38px;
        margin-bottom: 24px;
        width: 100%;

        p{
            min-height: 74px;
        }

        img{
            max-height: 30px;
            max-width: 130px;
        }
    }

    .app__badge{
        background-color: #4d4cac;
        border-radius: 0 8px 0 4px;
        color: #fff;
        display: inline-block;
        font-size: 0.875rem;
        font-weight: 500;
        padding: 4px 8px;
        position: absolute;
        right: 0;
        top: 0;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    }
 }
