/**
 * Media queries
 */

 @media screen and (min-width: 1600px){
    .page-template-website .website-intro__animation{
        top: 180px;
    }

    .page-template-website .website-intro .website-intro__circle{
        bottom: -30vw;
        right: -10vw;
    }
 }

@media screen and (max-width: $wrap__lg){

    #home-marketplace .marketplace-cards > .row{
        columns: 2;
    }

    // Saving Indie Hotels

    body.page-template-saving #saving .saving-hero .hero-title {
       font-size: 3rem;
    }


    body.page-template-saving #saving .saving-hotels .saving-hotel {
       width: calc(50% - 20px);

       .saving-hotel__thumb {
           margin: -20px;
           margin-bottom: 12px;
       }
    }

    body.page-template-saving #saving .saving-shares {
       bottom: 20px;
       left: 0;
       top: inherit;
       text-align: center;
       width: 100%;

       a {
           display: inline-block;
           margin: 0 4px;
       }
    }

    // Gurucare

    body.page-template-landing-healthcare #healthcare--landing {
        padding: 0 12px;

        .healthcare--landing__banner {
            .healthcare--landing__banner--bg {
                display: none;
            }

            .banner-text {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

}

@media screen and (max-width: $wrap__md){

    //Home quotes slider
    #home-quotes .quotes-slider__slide .quotes-slider__img--hotel{
        height: 200px;
        min-height: initial;
    }

    //Home checkout
    #home-checkout{
        padding-right: 0;
    }

    //Saving Indie Hotels
    body.page-template-saving #header .logo img,
    body.page-template-savingbuy #header .logo img {
        width: 300px;
    }

    body.page-template-saving #saving .saving-hero .hero-title {
        font-size: 2.5rem;
    }

    body.page-template-saving #saving .saving-hero .hero-btn {
        padding: 16px 32px;
    }

    body.page-template-saving #saving .saving-problem {
        padding: 30px 16px;
    }

    body.page-template-saving #saving .saving-covid .item .saving-covid__text p {
        font-size: 1rem;
    }

    body.page-template-saving #saving .saving-hotels .saving-hotel {
        width: calc(100% - 20px);
    }

    body.page-template-saving #saving .saving-cta__hotels {
        padding-bottom: 100px;
    }

    //Error page
    .error404 .page-content:before{
        display: none;
    }

    //Default page
    .page-template-default .page-default-header{
        padding-top: 120px;
    }

    .page-template-default .page-content{
        padding: 32px;
    }

}


@media screen and (max-width: $wrap__sm){

    //Font size
    #home__main-banner .banner-text .banner-title{
        font-size: 2rem;
        margin-top: 1.5rem;
    }

    body.page-id-1092 #home__main-banner .banner-title em {
        font-size: .6em;
        font-style: normal;
        vertical-align: top;
        line-height: 1.6;
        font-weight: 400;
    }

    #home__main-banner .banner-text{
        padding-left: 20px;
        padding-right: 20px;
    }

    #home__main-banner .banner-button{
        margin-top: 20px;
        padding: 12px;
        font-size: 1rem;
    }

    //Header
    #header .wrap{
        padding-left: 20px;
        padding-right: 20px;
    }

    #mega-menu-wrap-menu-main #mega-menu-menu-main li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, #mega-menu-wrap-menu-main #mega-menu-menu-main li.mega-menu-megamenu.mega-menu-item.mega-toggle-on ul.mega-sub-menu{
        background: none;
    }

    #mega-menu-wrap-menu-main #mega-menu-menu-main li.mega-menu-item.mega-menu-megamenu ul.mega-sub-menu .mega-menu-column ul.mega-sub-menu {
        display: flex;
        align-items: center;
    }

    #mega-menu-wrap-menu-main #mega-menu-menu-main li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column > ul.mega-sub-menu > li.mega-menu-item.widget_media_image{
        flex: 0 0 52px;
    }

    #mega-menu-wrap-menu-main #mega-menu-menu-main li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column > ul.mega-sub-menu > li.mega-menu-item.widget_media_image+li.mega-menu-item{
        padding-left: 1rem;
    }

    #mega-menu-wrap-menu-main #mega-menu-menu-main li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row > ul.mega-sub-menu > li.mega-menu-column+li.mega-menu-column{
        margin-top: 1rem;
    }

    #mega-menu-wrap-menu-main #mega-menu-menu-main a.mega-menu-link .mega-description-group{
        text-align: left;
    }

    #mega-menu-wrap-menu-main #mega-menu-menu-main > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link{
        font-size: 0.8125rem!important;
        font-weight: 400!important;
        color: #fff!important;
    }

    #mega-menu-wrap-menu-main #mega-menu-menu-main li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu{
        box-shadow: none;
    }

    #mega-menu-wrap-menu-main #mega-menu-menu-main a.mega-menu-link .mega-description-group .mega-menu-description{
        color: #fff!important;
        font-size: 0.75rem!important;
    }

    #mega-menu-wrap-menu-main #mega-menu-menu-main li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column > ul.mega-sub-menu > li.mega-menu-item {
        padding: 0 5px 5px 5px;
    }

    #mega-menu-wrap-menu-main #mega-menu-menu-main img{
        max-height: 42px;
    }

    #mega-menu-wrap-menu-main #mega-menu-menu-main li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu{
        padding: 0;
    }

    #mega-menu-wrap-menu-main #mega-menu-menu-main li.mega-menu-megamenu.mega-menu-item.mega-toggle-on>ul.mega-sub-menu{
        padding: 1rem 0 0 1rem;
    }

    #mega-menu-wrap-menu-main #mega-menu-menu-main li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column > ul.mega-sub-menu > li.mega-menu-item{
        padding-bottom: 0;
    }

    #mega-menu-wrap-menu-main #mega-menu-menu-main > li.mega-menu-item.mega-toggle-on > a.mega-menu-link{
        border-radius: 0!important;
    }

    //Footer
    #footer .wrap{
        padding-left: 20px;
        padding-right: 20px;
    }

    #footer .social-nav{
        display: block;
    }

    //Padding

    .padding__section{
        padding: 60px 0;
    }

    .padding-top__section{
        padding-top: 60px;
    }

    .padding-bottom__section{
        padding-bottom: 60px;
    }

    //Home Checkout
    #home-checkout .home-checkout-animation img{
        margin-bottom: 40px;
    }

    //Home CTA
    #home__cta{
        padding-top: 100px;
    }

    //Home Marketplace
    #home-marketplace{
        height: auto;

       &.home-marketplace--active > .container-fluid{
        position: relative;
       }
    }

    //Home Steps
    #home-steps{
        padding: 60px 0;
    }

    #home-steps .steps__step{
        padding-bottom: 50px;
    }

    //Home Quotes
    #home-quotes{
        padding-top: 60px;
    }

    #home-quotes .quotes-slider{
        margin-top: -48px;
    }

    //Saving Indie Hotels
    body.page-template-saving #saving .saving-hero .hero-title {
        font-size: 2rem;
        letter-spacing: -0.2px;
    }

    body.page-template-saving #saving .saving-hero .hero-desc {
        font-size: 1rem;
    }

    body.page-template-saving #saving .saving-hero .hero-btn {
        font-size: 1rem;
    }

    body.page-template-saving #saving .saving-problem p {
        font-size: 1rem;
    }

    body.page-template-saving .selector ul li:first-child,
    body.page-template-savingbuy .selector ul li:first-child {
        position: relative;
    }

    //Marketplace
    .marketplace-cards .wrap{
        padding: 0 20px;
    }

    .page-template-marketplace .marketplace-cards .card p{
        min-height: initial;
    }

    //GuruCare
    body.page-template-landing-healthcare #healthcare--landing {
        padding: 0 12px;

        .healthcare--landing__banner {
            .banner-text {
                max-width: 330px;
            }
        }
    }

    //Checkout
    .page-template-checkout{
        .checkout-intro{
            padding-top: 140px;
        }

        .checkout-animation{
            margin-top: 32px;
        }

        .checkout-sections{
            section+section{
                margin-top: 60px;
            }

            img{
                margin-top: 32px;
            }
        }

        .checkout-addons article.card:first-of-type{
            margin-top: 32px;
        }
    }
    //Website
    .page-template-website{

        .website-intro{
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 120px;
            overflow: initial;
            padding-bottom: 70vw;
            margin-bottom: 80px;

            .website-intro__circle{
                left: 0;
                right: 0;
                width: 100vw;
                height: 100vw;
                bottom: -10rem;
            }

            footer a.btn.background-color__main{
                padding: 12px;
                background: none;
            }
        }

        .website-intro__animation{
            transform: none;
            width: 100%;
            top: initial;
            bottom: -7rem;
            width: 100%;
            left: 0;
            right: 0;
        }

        .website-sections{
            padding-left: 15px;
            padding-right: 10px;

            #first-section{
                opacity: 1;
            }

            img{
                margin-bottom: 20px;
            }

            .center-xs{
                text-align: left;
            }
        }

        .website-stats .website_stats__cards{
            margin-top: 40px;

            .card {
                padding: 30px 20px;
            }
        }
    }

    //webinars
    .page-template-webinars .section-intro .author-column{
        margin-top: 20px;
        border: none;

        .webinar__author{
            display: flex;
            align-items: center;
        }

        img{
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
    }

    .page-template-webinars .section-intro{
        padding-top: 120px;
    }

    .webinar-list{
        padding-left: 40px;
        padding-right: 40px;
    }

    .webinar-item{
        margin-bottom: 2rem;
    }

    .webinars__order-by{
        padding: 0 30px;
    }

    //Pricing
    .page-template-pricing{
        section.pricing-calculator{
            text-align: center;

            .card{
                margin: 40px auto 0;
            }
        }

        .pricing-explain__features {
            width: 90%;
            display: flex;
            justify-content: center;
            padding-left: 0;
        }
    }

    .page-template-about-us{
        .section-intro{
            padding-top: 120px;
        }

        .about-team__logos{
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 0;

            img{
                margin-bottom: 20px;
            }
        }

        .about-team .wrap,
        .about-press .wrap{
            padding-left: 30px;
            padding-right: 30px;
        }

        .about-investors{
            padding-top: 100px;

            .card{
                margin-top: 40px;
            }
        }
    }

    //Advisory
    .page-template-advisory .section-features .end-xs{
        text-align: left;
        margin-bottom: 1.5rem;
    }

    .page-template-advisory .section-features:before{
        display: none;
    }

    .page-template-advisory .services__cards .row.start-xs{
        justify-content: center;
    }

    .page-template-advisory .advisory__form .row{
        justify-content: center;
    }

    .page-template-advisory .members__slider .item-wrapper{
        display: block;
        padding: 0;
    }

    .page-template-advisory .members__slider .member-card {
        margin-top: 0;
        margin-left: 0;
    }

    .page-template-advisory .members__slider .member-img img{
        width: 100%;
        height: 281px;
    }

    .page-template-advisory .members__slider .member-img:before{
        display: none;
    }

    .page-template-advisory .sliders-wrapper{
        position: relative;

        .members__slider .member-img{
            padding-left: 80px;
        }

        .members__img-slider{
            margin: 0;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 65px;
            bottom: 0;

            img,
            .member-img{
                height: 100%;
            }
        }

        .members__slider .member-card{
            margin-top: 10px;
            padding: 25px 35px;
        }

        .members__img-slider .slick-list,
        .members__img-slider .slick-track{
            height: 281px;
        }

        .members__img-slider .slick-slide{
            height: 25%;
            width: 100%!important;
            overflow: hidden;

            &+.slick-slide{
                padding-top: 10px;
            }
        }

        .members__img-slider .members__img-slider-member.slick-current{
            display: block;
            width: 100%!important;
        }

        .members__img-slider .slick-current .member-img:after{
            opacity: 0;
        }
    }

    //Corporative image
    .page-template-corporative-image{
        .corporative-image-comparison{
            z-index: 10;
            position: relative;
            top: 30px;

            img{
                position: relative;
                z-index: 30;
            }

           &:before{
            content: "";
            position: absolute;
            left: -20px;
            right: -20px;
            top: -30px;
            width: 100vw;
            height: 100vw;
            border-radius: 50%;
            background: rgba(247, 248, 251, 0.4);
          }
        }
    }

    .page-template-corporative-image .section-intro:before{
        clip-path: none;
    }

    .page-template-corporative-image .corporative-image-services .wrap .or-deco {
        top: -80px;
        left: 3.8rem;
    }

    .page-template-corporative-image .corporative-image-services .wrap:before{
        left: 5rem;
    }

    .page-template-corporative-image .section-intro{
        padding-bottom: 0;
        margin-bottom: 5rem;
        padding-top: 120px;
        overflow: hidden;

        .wrap{
            padding: 0 20px;
        }
    }

    .page-template-corporative-image .corporative-image-services .wrap article.item{
        background: #f3f8ff;
    }

    .page-template-corporative-image .corporative-image-services.corporative-image-services--active .wrap:after{
        display: none;
    }

    .page-template-corporative-image .corporative-image-services.corporative-image-services--active .wrap:before{
        height: 100%;
    }

    .page-template-corporative-image .corporative-image-services .wrap article.item+article.item{
        margin-top: 3rem;
    }

    .page-template-corporative-image .corporative-image-branding article.item+article.item{
        margin-top: 3rem;
    }

    .page-template-corporative-image .corporative-image-faq .card{
        padding: 20px;
    }

    .page-template-corporative-image .corporative-image-forms .form-selector i{
        margin-right: .5rem;
    }

    .page-template-corporative-image .corporative-image-forms .corporative-image-forms__form{
        margin-top: 2rem;
    }

}


@media screen and (max-width: $wrap__xs){

    //Footer
    #footer{
        text-align: center;

        .brand>a{
            margin-right: 0;
        }

        .menu-footer ul{
            display: block;

            li+li{
                margin-top: 1rem;
            }
        }

        .menu-footer>ul>li+li{
            margin-top: 2rem;
        }

        .lang-selector{
            margin-top: 16px;
            margin-bottom: 8px;
        }
    }

    //Quotes slider

    #home-quotes .quotes-slider .slick-arrow{
        top: 84px;
        left: -16px;

        &.slick-next{
            right: -16px;
            left: initial;
        }
    }

    //Checkout
    .page-template-checkout .checkout-addons .col-xs-8{
        padding: 12px;

        .price{
            font-size: 14px;
        }
    }

    //webinars

    .page-template-webinars .section-intro .content-column,
    .page-template-webinars .section-intro .image-column {
        padding: 0;
    }

    .page-template-webinars .section-intro .wrap{
        padding-left: 30px;
        padding-right: 30px;
    }

    .page-template-webinars .section-intro .image-column {
        margin-bottom: 20px;
    }

    .single-guru_webinar .wrap{
        padding-left: 30px;
        padding-right: 30px;
    }

    .single-guru_webinar .article-video{
        margin-left: -40px;
        margin-right: -40px;
    }

    .single-guru_webinar .webinar-list{
        padding-left: 0;
        padding-right: 0;
    }

    .single-guru_webinar .article-content{
        font-size: 1rem;
    }

    .single-guru_webinar .article-footer .meta-column{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        .article-share{
            margin-top: 0;
        }
    }

    //About us
    .page-template-about-us{

        .about-stats .wrap{
            padding-left: 30px;
            padding-right: 30px;
        }

        .about-stats{
            padding-top: 80px;

            &:before{
                display: none;
            }
        }

        .about-team__members{
            padding: 0 40px;

            .slick-arrow.slick-prev{
                left: -20px;
                top: 40px;
            }

            .slick-arrow.slick-next{
                right: -20px;
                top: 40px;
            }

            img{
                width: 100px;
                height: 100px;
            }
        }

        .about-press__item{
            margin-bottom: 60px;
        }

        .about-press__item__content{
            min-height: initial;
        }
    }

    //Pricing
    .page-template-pricing{
        .pricing-explain{
            padding: 0 20px;

            .col-sm-10 > .card {
                padding: 40px 30px;
            }
        }

        .pricing-explain__payment-methods .card{
            .start-xs{
                text-align: center;
            }

            .row>div+div,
            img+div{
                margin-top: 15px;
            }
        }

        .pricing-faq .wrap{
            padding: 0 30px;
        }

        .pricing-calculator{
            &>.wrap>.row{
                justify-content: center;
            }

            .card{
                padding: 42px 30px 0;
            }
        }
    }

    //Hotels
    .page-template-hotels{
        .hotels-location__select{
            width: 100%;
        }

        .hotels-cards .card .body-wrapper{
            min-height: initial;
        }

        .hotel-footer{
            margin-top: 0;
        }

        .modal-hotel .modal-hotel__header .row{
            margin: 0;
        }

        .hotels-pagination a {
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: .75rem;
        }

        .hotels-pagination li+li{
            margin-left: .25rem;
        }
    }
}
