/**
 * #SaveIndieHotels
 */

 /* --------------------------------------------------
 Saving hotels landing
 ----------------------------------------------------- */
 body.page-template-saving,
 body.page-template-savingbuy {

    .text-color__main{
        color: #4d4cac;
    }

    .background-color__main{
        background-color: #4d4cac;
    }

     #header {
         background: lighten($color__titles,69%);

         .brand {
            img {
                width: 300px;
            }
        }
     }

     #saving {
        background: transparent;
        z-index: 10000;
        position: relative;

         .saving-hero {
             margin-bottom: 80px;
             position: relative;

             .image {
                 bottom: -72px;
                 display: block;
                 margin: 0 auto;
                 max-width: 400px;
                 position: relative;
                 width: 60%;
                 z-index: 20;
             }

             .image-bg {
                 background: repeat-x center bottom;
                 background-size: contain;
                 bottom: -8px;
                 height: 200px;
                 left: 0;
                 position: absolute;
                 width: 100%;
             }

             .hero-title {
                 font-size: 3.5rem;
                 line-height: 1.25;
             }

             .hero-btn {
                 background: #4D4CAC;
                 font-size: 1.125rem;
                 padding: 20px 32px;
             }
         }

         .saving-logos {
             text-align: center;

             .logo {
                 width: 16%;
                 display: inline-block;
                 margin: 20px 0;
                 text-align: center;
                 vertical-align: middle;

                 img {
                     max-height: 60px;
                     max-width: 100px;
                 }
             }
         }

         .saving-shares {
             position: fixed;
             right: 40px;
             top: 40px;
             z-index: 999;

             a {
                 background: $color__facebook;
                 border-radius: 50%;
                 display: block;
                 color: white;
                 height: 40px;
                 line-height: 40px;
                 margin-bottom: 8px;
                 text-align: center;
                 width: 40px;

                 &.twitter {
                     background: $color__twitter;
                 }

                 &.linkedin {
                     background: #0078BA;
                 }
             }
         }

         .saving-hotels {
             /*
             .saving-hotels__tabs {
                 border: 0;
                 display: block;
                 margin: 0 0 30px 0;
                 text-align: center;
                 padding: 0;

                 li {
                     display: inline-block;
                     margin: 0;
                     padding: 0;

                     [role="tab"][aria-selected="true"] {
                         background: #4D4CAC;
                         color: white;

                         i {
                             color: white;
                         }
                     }

                     a {
                         border: 0;
                         border-radius: 8px;
                         display: block;
                         font-weight: normal;
                         margin: 4px 0;
                         padding: 8px 16px;

                         i {
                             color: #4D4CAC;
                             margin-right: 4px;
                         }
                     }
                 }
             }
             */

             .saving-hotels-row {
                 display: flex;
                 flex-wrap: wrap;
                 flex-direction: row;
                 margin: 8px -10px;
                 text-align: center;
             }

             .saving-hotel {
                 display: block;
                 float: left;
                 margin: 0 10px 12px 10px;
                 padding: 0;
                 width: calc(33.33% - 20px);

                 > a {
                     color: $color__text;
                     font-weight: normal;
                 }

                 .card {
                     background: white;
                     border: 1px solid lighten($color__titles,65%);
                     box-shadow: 0 10px 25px -5px lighten($color__titles,70%);
                     margin-bottom: 20px;
                 }

                 .saving-hotel__thumb {
                     background: $color__grey--regent no-repeat center center;
                     background-size: cover;
                     border: 1px solid $color__grey--regent;
                     border-radius: 8px;
                     height: 180px;
                     margin: -26px;
                     margin-bottom: 20px;

                     img {
                         display: none;
                     }
                 }

                 .saving-hotel__caption {
                     text-align: left;
                     width: 100%;

                     .saving-hotel__caption--title {
                         font-family: $font__main;
                         font-size: 1.25rem;
                         line-height: 1.375;
                     }
                 }
             }
         }

         .saving-problem {
             border: 1px solid lighten($color__titles,65%);
             box-shadow: 0 10px 25px -5px lighten($color__titles,70%);
             border-radius: 4px;
             margin-bottom: 40px;
             padding: 40px 0;

             p {
                 font-size: 1.125rem;
                 line-height: 1.75;
                 margin: 16px 0;
             }
         }

         .saving-covid {
             margin-bottom: 40px;

             .item {
                 position: relative;

                 .saving-covid__text {
                     p {
                         color: $color__titles;
                         font-size: 1.25rem;
                         margin: 10px 0;
                     }
                 }

                 .saving-covid__image {
                     max-width: 220px;
                     width: 90%;
                 }
             }
         }

         .saving-steps {
             margin-bottom: 20px;
             position: relative;

             .item {
                 margin-bottom: 60px;

                 .saving-steps__number {
                     background: lighten(#FF808C,20%);
                     border-radius: 50%;
                     color: $color__pink;
                     display: block;
                     height: 40px;
                     line-height: 40px;
                     margin-bottom: 24px;
                     text-align: center;
                     position: relative;
                     width: 40px;
                     z-index: 1;
                 }
             }
         }

         .saving-cta {
            background: #4d4cac;

             .saving-cta__title {
                 margin-bottom: 30px;
             }

             .saving-cta__btn {
                 background: lighten($color__pink,6%);
                 border-radius: 80px;
                 color: white;
                 display: inline-block;
                 font-size: 1.125rem;
                 font-weight: normal;
                 margin: 0 8px;
                 padding: 16px 32px;
             }
         }

         .saving-cta__hotels {
             p {
                 color: lighten($color__titles,60%);
                 font-weight: 300;
             }

             .saving-cta__btn {
                 border: 2px solid lighten($color__titles,15%);
                 border-radius: 80px;
                 color: white;
                 display: inline-block;
                 font-weight: normal;
                 margin: 0 8px;
                 padding: 16px 32px;
             }
         }
     }

     .selector {
         height: 100px;
         position: relative;
         z-index: 30;

         * {
             border: 0;
         }

         [role="tablist"] {
             border: 0;
         }

         [role="tab"]:hover:not([aria-selected="true"]) {
             background: transparent;
             border: 0;
         }

         [role="tab"][aria-selected="true"] {
             background: transparent;
         }

         ul {
             background: #4D4CAC;
             border-radius: 4px;
             max-height: 330px;
             margin-left: -120px;
             max-width: 240px;
             left: 50%;
             padding-top: 0;
             overflow-y: auto;
             position: absolute;
             top: 40px;
             text-align: center;
             width: 100%;

             [role="tab"][aria-selected="true"] {
                 border: 0;
             }

             li.option {
                 background: lighten(#4D4CAC,8%);
                 border-bottom: 1px solid rgba(black,0.1);
                 cursor: pointer;
                 display: inline-block;
                 font-size: 0.875rem;
                 height: 34px;
                 line-height: 34px;
                 margin: 0;
                 padding: 0 16px;
                 overflow: hidden;
                 position: relative;
                 text-align: left;
                 text-overflow: ellipsis;
                 top: 0;
                 width: 100%;
                 white-space: nowrap;

                 &:hover {
                     background: lighten(#4D4CAC,4%);
                 }

                 .down-icon {
                     display: none;
                     position: absolute;
                     right: 12px;
                     top: 12px;
                 }

                 a {
                     color: white;
                     font-weight: normal;
                     padding: 0;

                     i {
                         color: lighten(#4D4CAC, 20%);
                         font-size: 0.875rem;
                         margin-right: 4px;
                     }
                 }
             }

             li.option {
                 display: none;
                 position: relative;
                 z-index: 1;
             }

             li:first-child {
                 background: #4D4CAC;
                 border-radius: 4px;
                 display: list-item;
                 height: 40px;
                 line-height: 40px;
                 left: 0;
                 position: sticky;
                 top: 0;
                 z-index: 30;

                 .down-icon {
                     display: block;
                 }
             }

             li:last-child {
                 border-bottom-left-radius: 4px;
                 border-bottom-right-radius: 4px;
             }
         }
     }

    #footer {
         display: none;
    }
}