/**
 * Forms
 */

/* Label */
label {
    display: block;
}

/* Input */
input,
input[type="date"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="text"] {
  padding: 8px 12px;
  outline: none;
  border-width: 1px;
}

/* Textarea */
textarea {
  padding: 8px 12px;
  outline: none;
}

/* Buttons */
input[type="submit"],
button {
  cursor: pointer;
  padding: 8px 12px;
  outline: none;
}

/* Select */
select {
  outline: none;
  padding: 8px 12px;
}

/* Input Radio */
input[type="radio"] {
  background: white;
  border: 1px solid $color__grey--regent;
  border-radius: 50%;
  box-shadow: inset 0 0 0 4px white;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 8px;

  &:checked {
    background: $color__text;
  }
}

input[type="radio"] + label {
  display: inline-block;
  margin-left: 1px;
  position: relative;
  vertical-align: middle;
  z-index: 1;
}

/* Input Radio */
input[type="checkbox"] {
  background: white;
  border: 1px solid $color__grey--regent;
  border-radius: 4px;
  box-shadow: inset 0 0 0 4px white;
  cursor: pointer;
  display: inline-block;
  padding: 8px;
  vertical-align: middle;

  &:checked {
    background: $color__text;
  }
}

input[type="checkbox"] + label {
  display: inline-block;
  margin-left: 4px;
  position: relative;
  vertical-align: middle;
  z-index: 1;
}
