/**
 * Headings
 */

@for $i from 1 through 6 {
  h#{$i} {
    color: $color__titles;
    font-family: $font__secondary;
    font-weight: $font__weight--bold;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
  }
}

h6 {
  font-size: 1rem;
}

h5 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1.375rem;
}

h3 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.875rem;
}

h1 {
  font-size: 3.5rem;
}

@media only screen and (max-width: $wrap__md) {
  h5 {
    font-size: 1.063rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.375rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: $wrap__sm) {
  h4 {
    font-size: 1.125rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 1.875rem;
  }
}

@media only screen and (max-width: $wrap__xs) {
  h2 {
    font-size: 1.375rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}
