/**
 * Paragraphs
 */

ul,
ol {
  margin-bottom: 1em;
  margin-top: 1em;

  li {
    line-height: 1.375;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
  }
}

.list-unstyled,
.list-unstyled{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-horizontal{

    li{
        display: inline-block;
    }

    li+li{
        margin-left: 15px;
    }
}
