$wrap__lg: 1100px !default;
$wrap__md: 990px !default;
$wrap__sm: 768px !default;
$wrap__xs: 550px !default;

/* Container wrap padding */
$container__padding: 0.5rem;

/* Default border width */
$border__width: 1px !default;
